{% include "header.html" %}
<h1 class="header">New Book</h1>
<form action="{{url_for('newItem')}}"
  method="POST">
  <p>Name:</p>
  <input type="text" size="30" name="name">
  <p>description:</p>
  <input type="text" size="30" name="description">
  <p>Film genres:</p>
  <select name="categories_id">
    <option value=1 >Science Fiction</option>
    <option value=2 >Satire</option>
    <option value=3 >Drama</option>
    <option value=4 >Action and Adventure</option>
    <option value=5 >Romance</option>
    <option value=6 >Poetry</option>
    <option value=7 >Encyclopedia</option>
    <option value=8 >Comics</option>
    <option value=9 >Series</option>
    <option value=10 >Autobiographies</option>
    <option value=11 >Cookbooks</option>
  </select>
  </br></br>
  <input type="submit" value ="Create">
  <a href = "{{url_for('showCatalog')}}"><button type="button">Cancel</button></a>
  </br></br>
</form>
</body>
</html>
